.messageBox{
    /* width:80%; */
    /* padding: 0.5vmax; */
    margin: 0.1vmax; 
    border-radius: 0.5vmax;
    display: inline-block;
    background-color: rgb(182, 207, 240);
}
.right{
    
    width:80%;
    /* background-color: rgb(187, 187, 250); */
    /* padding: 0.3vmax;*/
    margin: 0.5vmax; 
    border-radius: 0.5vmax;
    display: inline-block;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
     
}
.left{
    float: left ;
    /* background-color: rgb(66, 66, 111); */
}